<div *ngIf="dataSource">
  <table [ngClass]="tableClasses ? tableClasses : 'paginated-table-fyp'">
    <thead>
      <tr>
        <th scope="col" *ngIf="showIndex">#</th>
        <th *ngFor="let column of displayedColumns" scope="col">
          {{ column }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of renderTable(dataSource); let i = index">
        <th scope="row" *ngIf="showIndex">{{ i + 1 }}</th>
        <td *ngFor="let prop of displayedProps">
          {{ item[prop] }}
        </td>
      </tr>
    </tbody>
  </table>
  <nav aria-label="Table page navigator">
    <ul [ngClass]="paginatorClasses ? paginatorClasses : paginatorClass">
      <li
        [ngClass]="paginatorItemClasses ? paginatorItemClasses : paginatorItemClass"
        role="button"
        (click)="firstPage()">
        <a
          [ngClass]="paginatorLinkClasses ? paginatorLinkClasses : paginatorLinkClass"
          [innerHTML]="firstPageInnerHTML ? firstPageInnerHTML : '««'">
        </a>
      </li>
      <li
        [ngClass]="paginatorItemClasses ? paginatorItemClasses : paginatorItemClass"
        role="button"
        (click)="previousPage()">
        <a
          [ngClass]="paginatorLinkClasses ? paginatorLinkClasses : paginatorLinkClass"
          [innerHTML]="previousPageInnerHTML ? previousPageInnerHTML : '«'">
        </a>
      </li>
      <li
        *ngFor="let paginatorItem of [].constructor(totalPages); let i = index;"
        role="button"
        [ngClass]="getCustomPageStyle(i + 1)"
        (click)="thisPage(i + 1)">
        <a [ngClass]="paginatorLinkClasses ? paginatorLinkClasses : paginatorLinkClass">{{ i + 1 }}</a>
      </li>
      <li
        [ngClass]="paginatorItemClasses ? paginatorItemClasses : paginatorItemClass"
        (click)="nextPage()"
        role="button">
        <a
          [ngClass]="paginatorLinkClasses ? paginatorLinkClasses : paginatorLinkClass"
          [innerHTML]="nextPageInnerHTML ? nextPageInnerHTML : '»'">
        </a>
      </li>
      <li
        [ngClass]="paginatorItemClasses ? paginatorItemClasses : paginatorItemClass"
        role="button"
        (click)="lastPage()">
        <a
          [ngClass]="paginatorLinkClasses ? paginatorLinkClasses : paginatorLinkClass"
          [innerHTML]="lastPageInnerHTML ? lastPageInnerHTML : '»»'"></a>
      </li>
    </ul>
  </nav>
</div>
