<div *ngIf="dataSource" [class]="tableWrapperClass">
  <div style="padding: 12px 6px; display: flex; align-items: center" *ngIf="selectRowsPerPage">
    <p style="margin-bottom: 0; white-space: nowrap;">{{ rowsPerPageOptionsLabel }}:&nbsp;&nbsp;</p>
    <select
      #rowsPerPageSelect
      role="button"
      [ngClass]="rowsPerPageSelectClasses ? rowsPerPageSelectClasses : rowsPerPageSelectClass"
      style="width: fit-content;"
      (change)="setRowsPerPage(+rowsPerPageSelect.value)">
      <option *ngFor="let rowsPerPageOption of rowsPerPageOptions" [value]="rowsPerPageOption">
        {{ rowsPerPageOption }}
      </option>
    </select>
  </div>
  <table [ngClass]="tableClasses ? tableClasses : tableClass" [ngStyle]="{'table-layout': fixedLayout ? 'fixed' : ''}">
    <thead>
      <tr>
        <th scope="col" *ngIf="showIndex">#</th>
        <th *ngFor="let column of displayedColumns" scope="col">
          {{ column }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of renderTable(dataSource); let i = index">
        <th scope="row" *ngIf="showIndex">{{ getShownIndex(i + 1) }}</th>
        <td *ngFor="let prop of displayedProps">
          {{ item[prop] }}
        </td>
      </tr>
    </tbody>
  </table>
  <nav aria-label="Table page navigator">
    <ul [ngClass]="paginatorClasses ? paginatorClasses : paginatorClass">
      <li
        [ngClass]="paginatorItemClasses ? paginatorItemClasses : paginatorItemClass"
        role="button"
        (click)="firstPage()">
        <a
          style="user-select: none;"
          [ngClass]="paginatorLinkClasses ? paginatorLinkClasses : paginatorLinkClass"
          [innerHTML]="firstPageInnerHTML ? firstPageInnerHTML : '««'">
        </a>
      </li>
      <li
        [ngClass]="paginatorItemClasses ? paginatorItemClasses : paginatorItemClass"
        role="button"
        (click)="previousPage()">
        <a
          style="user-select: none;"
          [ngClass]="paginatorLinkClasses ? paginatorLinkClasses : paginatorLinkClass"
          [innerHTML]="previousPageInnerHTML ? previousPageInnerHTML : '«'">
        </a>
      </li>
      <li
        *ngFor="let paginatorItem of getPagesArray(); let i = index;"
        role="button"
        [ngClass]="getCustomPageStyle(i + paginatorSlideFactor)"
        (click)="thisPage(i + paginatorSlideFactor)">
        <a [ngClass]="paginatorLinkClasses ? paginatorLinkClasses : paginatorLinkClass">{{ i + paginatorSlideFactor }}</a>
      </li>
      <li
        *ngIf="maxPagesExceeded"
        role="button">
        <a [ngClass]="paginatorLinkClasses ? paginatorLinkClasses : paginatorLinkClass">...</a>
      </li>
      <li
        *ngIf="maxPagesExceeded"
        role="button"
        [ngClass]="getCustomPageStyle(totalPages)"
        (click)="thisPage(totalPages)">
        <a [ngClass]="paginatorLinkClasses ? paginatorLinkClasses : paginatorLinkClass">{{ totalPages }}</a>
      </li>
      <li
        [ngClass]="paginatorItemClasses ? paginatorItemClasses : paginatorItemClass"
        (click)="nextPage()"
        role="button">
        <a
          style="user-select: none;"
          [ngClass]="paginatorLinkClasses ? paginatorLinkClasses : paginatorLinkClass"
          [innerHTML]="nextPageInnerHTML ? nextPageInnerHTML : '»'">
        </a>
      </li>
      <li
        [ngClass]="paginatorItemClasses ? paginatorItemClasses : paginatorItemClass"
        role="button"
        (click)="lastPage()">
        <a
          style="user-select: none;"
          [ngClass]="paginatorLinkClasses ? paginatorLinkClasses : paginatorLinkClass"
          [innerHTML]="lastPageInnerHTML ? lastPageInnerHTML : '»»'"></a>
      </li>
    </ul>
  </nav>
</div>
