<div style="height: 100%; display: flex; justify-content: center; align-items: center">
  <paginated-table-fyp
    [dataSource]="(fighters$ | async)!"
    [displayedColumns]="tableDisplayedColumns"
    [displayedProps]="tableDisplayedProps"
    [rowsPerPage]="4"
    [showIndex]="true"
    [fixedLayout]="true"
    [tableClasses]="['table', 'table-dark', 'table-striped']"
    [selectRowsPerPage]="true"
    [rowsPerPageOptions]="[5, 10, 25]"
    [rowsPerPageOptionsLabel]="'Rows per page'"
    [maxDisplayedPaginatorItems]="6"
    [paginatorClasses]="['pagination', 'justify-content-center']"
    [paginatorItemClasses]="['page-item']"
    [paginatorLinkClasses]="['page-link']"
    [rowsPerPageSelectClasses]="['form-select']">
  </paginated-table-fyp>
</div>
