<div style="height: 100%; display: flex; justify-content: center; align-items: center">
  <app-paginated-table
    [dataSource]="(fighters$ | async)!"
    [itemsPerPage]="5"
    [displayedColumns]="tableDisplayedColumns"
    [displayedProps]="tableDisplayedProps"
    [showIndex]="true"
    [tableClasses]="['table', 'table-dark', 'table-striped']"
    [paginatorClasses]="['pagination', 'justify-content-center']"
    [paginatorItemClasses]="['page-item']"
    [paginatorLinkClasses]="['page-link']">
  </app-paginated-table>
</div>
